.fakeBody {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 18%;
<<<<<<< Updated upstream
  height: 100%;
  background: rgb(65, 64, 64);
  border: 5px solid black;
=======
  height: 95%;
  background: rgb(65, 64, 64);
  border: 4px solid black;
  border-radius:10px;
  margin-left: 10px;
  margin-top: 15px;
>>>>>>> Stashed changes
}

.sidebarHeader {
  position: relative;
<<<<<<< Updated upstream
  height: 40%;
  margin: auto;
  border-bottom: 5px solid rgb(26, 25, 25);
=======
  height: 37%;
  margin: auto;
  justify-content: center;

 
>>>>>>> Stashed changes
}

.userName{
  color: white;
  font-family: Abel;
  font-style: italic;
  text-align: center;
  position: relative;
  margin-top: 80px;
  font-weight: 700;
}

.userImage {
  position: relative;
  display: block;
<<<<<<< Updated upstream
  
  width: 80%;
  height: 60%;
  margin: auto;
  top: 35px;
=======
  width: 80%;
  height: 60%;
  margin: auto;
  top: 25px;
>>>>>>> Stashed changes
  border: 5px solid black;
}

.sidebarMenu {
  position: relative;
  height: 80%;
}

.sidebarButContainer {
<<<<<<< Updated upstream
  position: relative;

=======
 
>>>>>>> Stashed changes
  height: 80%;
  width: 100%;
  margin: auto;
  font-family: Abel;
  font-style: italic;
}

<<<<<<< Updated upstream
.first {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
 
}
=======

>>>>>>> Stashed changes

.linkContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
<<<<<<< Updated upstream
=======
  
>>>>>>> Stashed changes
}

:root {
  --mainColor: #000000;
}
.link {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  transition: background-size 0.2s;
<<<<<<< Updated upstream
  font-size: larger;
  font-weight: 800;
=======
  font-size: large;
  font-weight: 600;
>>>>>>> Stashed changes
  top:20px;
  justify-content: center;
  text-align: center;
  position: relative;
}

.link:hover {
  background-size: 4px 50px;
}
<<<<<<< Updated upstream
=======

.logoutcontainer{
  text-align: center;
  margin:  auto;
  position: relative;
  height: 15%;
  border-bottom: black 4px solid;
  
}

.btn{
 width: 15%;
  position:relative;
  background-color:whitesmoke;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(90, 89, 89);
}

.logout{
 width: 100%;
 
}

.btn:hover{
  border: 3px solid rgb(0, 0, 0);
  width: 17%;
}
>>>>>>> Stashed changes
