.fakeBody {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 17%;
  height: 101%;
  background: #2b3641;
  border: 2px solid black;
  border-radius:0px;
 

  
}

.sidebarHeader {
  position: relative;
  height: 37%;
  margin: auto;
  justify-content: center;

 
}

.userName{
  color: white;
  font-family: Abel;
  font-style: italic;
  text-align: center;
  position: relative;
  margin-top: 50px;
  font-weight: 700;
}

.userImage {
  position: relative;
  display: block;
  width: 80%;
  height: 60%;
  margin: auto;
  top: 25px;
  border: 2px solid black;
  border-radius: 100%;
}

.sidebarMenu {
  position: relative;
  height: 80%;
}

.sidebarButContainer {
 
  height: 80%;
  width: 100%;
  margin: auto;
  font-family: Abel;
  font-style: italic;
}


.linkContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
  
}

:root {
  --mainColor: #000000;
}
.link {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: background-size 0.2s;
  font-size: large;
  font-weight: 600;
  top:20px;
  justify-content: center;
  text-align: center;
  position: relative;
}

.link:hover {
  background-size: 4px 50px;
}

.logoutcontainer{
  text-align: center;
  margin:  auto;
  position: relative;
  height: 15%;
  border-bottom: black 2px solid;
  
}

.btn{
 width: 15%;
  position:relative;
  background-color:whitesmoke;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(90, 89, 89);
}

.logout{
 width: 100%;
 
}

.btn:hover{
  border: 3px solid rgb(0, 0, 0);
  width: 17%;
}
